/* colors */
:root {
  --new-moon: #68cbec;
  --sabbath: #e10d0d;
  --passover: #e1490d;
  --pentecost: #f88b8b;
  --trumpets: #f223b4;
  --wave-sheaves: #ecdd01;
  --unleavened-bread: #b66b46;
  --tabernacles: #50ce2d;
}

h1 {
  text-align: center;
}

td {
  text-align: center;
  white-space: nowrap;
  border: 1px solid black;
  height: 2rem;
}

.months-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

table {
  width: 650px;
  border-collapse: collapse;
  margin: 15px 0;
}

.month-name {
  whitespace: nowrap;
}

.hebrew-name {
  font-size: x-large;
}

.english-name {
  font-size: large;
}

.day1 {
  font-weight: normal;
  border: 1px solid black;
}

.new-moon {
  background-color: var(--new-moon);
}

.trumpets {
  background-color: var(--trumpets);
}

.passover {
  background-color: var(--passover);
}

.wave-sheaves {
  background-color: var(--wave-sheaves);
}

.half-day {
  position: relative;
}

.half-day::before, .half-day::after {
  height: 100%;
  content: ' ';
  position: absolute;
  top: 0;
  width: 50%;
  z-index: -1;
}

.half-day::after {
  right: 0;
}

.half-day::before {
  left: 0;
}

.unleavened-bread.half-day {
  background-color: transparent;
}

.half-day.unleavened-bread::before {
  background-color: var(--sabbath);
}

.half-day.unleavened-bread::after {
  background-color: var(--unleavened-bread);
}

.unleavened-bread {
  background-color: var(--unleavened-bread);
}

.sabbath {
  background-color: var(--sabbath);
}

.pentecost {
  background-color: var(--pentecost);
}

.tabernacles.half-day {
  background-color: transparent;
}

.half-day.tabernacles::before {
  background-color: var(--sabbath);
}

.half-day.tabernacles::after {
  background-color: var(--tabernacles);
}

.tabernacles {
  background-color: var(--tabernacles);
}

.legend {
  display: flex;
  justify-content: space-evenly;
}
