/* colors */
:root {
  --new-moon: #68cbec;
  --sabbath: #e10d0d;
  --passover: #e1490d;
  --pentecost: #f88b8b;
  --trumpets: #f223b4;
  --wave-sheaves: #ecdd01;
  --unleavened-bread: #b66b46;
  --tabernacles: #50ce2d;
}

h1, td {
  text-align: center;
}

.months-container {
  display: flex;
  flex-flow: row wrap;
}

table {
  width: 600px;
}

.day1 {
  background-color: var(--new-moon);
}

.day1.trumpets {
  background-color: var(--trumpets);
}

.passover {
  background-color: var(--passover);
}

.wave-sheaves {
  background-color: var(--wave-sheaves);
}

.half-day {
  position: relative;
}

.half-day::after {
  height: 100%;
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  z-index: -1;
}
