/* colors */
:root {
  --new-moon: #68cbec;
  --sabbath: #e10d0d;
  --passover: #e1490d;
  --pentecost: #f88b8b;
  --trumpets: #f223b4;
  --wave-sheaves: #ecdd01;
  --unleavened-bread: #b66b46;
  --tabernacles: #50ce2d;
}

h1, td {
  text-align: center;
}

.months-container {
  display: flex;
  flex-flow: row wrap;
}

table {
  width: 600px;
}

.month-name {
  whitespace: nowrap;
}

.hebrew-name {
  font-size: x-large;
}

.english-name {
  font-size: large;
}

.day1 {
  background-color: var(--new-moon);
}

.day1.trumpets {
  background-color: var(--trumpets);
}

.day8, .day15, .day22, .day29 {
  background-color: var(--sabbath);
}

.passover {
  background-color: var(--passover);
}

.wave-sheaves {
  background-color: var(--wave-sheaves);
}

.half-day {
  position: relative;
}

.half-day::before, .half-day::after {
  height: 100%;
  content: ' ';
  position: absolute;
  top: 0;
  width: 50%;
  z-index: -1;
}

.half-day::after {
  right: 0;
}

.half-day::before {
  left: 0;
}

.unleavened-bread.half-day {
  background-color: transparent;
}

.half-day.unleavened-bread::before {
  background-color: var(--sabbath);
}

.half-day.unleavened-bread::after {
  background-color: var(--unleavened-bread);
}

.unleavened-bread {
  background-color: var(--unleavened-bread);
}

.pentecost {
  background-color: var(--pentecost);
}

.tabernacles.half-day {
  background-color: transparent;
}

.half-day.tabernacles::before {
  background-color: var(--sabbath);
}

.half-day.tabernacles::after {
  background-color: var(--tabernacles);
}

.tabernacles {
  background-color: var(--tabernacles);
}
