:root {
  --profile-photo-size: 32px;
}

body {
  font-family: sans-serif;
}

.profile-photo {
  position: absolute;
  left: 10px;
  top: 10px;
  width: var(--profile-photo-size);
  height: var(--profile-photo-size);
}

.messages {
  width: 400px;
}

.message {
  float: left;
  position: relative;
  box-sizing: border-box;
  width: 300px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  background-color: #fafafa;
  padding: 10px 10px 10px calc(var(--profile-photo-size) + 20px);
  margin: 5px 0;
}

.message.self {
  float: right;
  background-color: #eff7ff;
}

.message time {
  font-size: 75%;
  opacity: 0.5;
}

.author {
  font-weight: 700;
}
